.container{
    margin-left: 60px;
    
    
}
*{
    margin-left: 3px;
    
}
.body{
    font-family: Tahoma, sans-serif;
}




.header{
display: flex;
cursor:pointer;
font-family: Tahoma, sans-serif;
gap: 20px;
}
h3.header{
    margin-left: 20px;
    font-weight: lighter;
}
.headright{
    display: flex;
     margin-left: 400px;
     gap:20px
}
.git-button{
    display: flex;
    align-items: center;
}
#git{
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 250px;
}
#git img {
    color: #000000;
    background-color: #ffffff;
    width: 30px;
    margin-left: 6px;
}
#start img{
    width: 30px;
    ;
}
#start{
    background-color: #ff0554;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 250px;
}
#start2{
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 250px;
}
.buttons{
display:flex;
    gap:30px;
    color: #2d4995;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 60px;
}
.main{
        margin-top: 50px;
    margin-right: 180px;
}     
#descr{
    font-size: 20px;
    color: #00000086;
    font-family: Tahoma, sans-serif;
}
#learn{
    font-size: 50px;
    color: #2d4995;
    font-family: Tahoma, sans-serif;
    font-weight: 200;
}
.review{
    background-color:#2d4995 ;
    border-radius: 20px;
    width: 1200px;
    height: 90px; 
    display: flex;  
    margin-top: 40px;
    gap: 60px;
}
.h{
    color: #ffffff;
    margin-left: 20px;
    
}
#learn-pro{
    background-color: #ffffff;
    color: #2d4995;
    border: #f3f3f3;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    width: 190px;
    margin-top: 20px;
    font-family: tahoma;
    font-size: 14px;
    font-weight: lighter;
}   
 
#larg{
    width: 500px;
    height: 200px;
    box-shadow: 0px 0px 2px 0px #686363;
    border-radius: 20px;
    padding: 30px;
    font-family: Tahoma;
    font-weight: lighter;
    font-size: 20px;  
}
.review2{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.review1{
    margin-top: 100px;

}
#as{
    text-align: center;
    font-size: 18px;
    margin-top: 85px;
}
.logo{
    display: flex;
    gap: 100px;
    margin-top: 40px;
    text-align: center;
    margin-left: 70px;
}
#logo1{
    width: 300px;
    height: 90px;
    border-radius: 20px;
    box-shadow:  0px 0px 2px 0px #686363;
    padding: 10px;
    cursor: pointer;
}